<!-- <form action="/form_send_params" method="post">
  <div>
    Enter Message: <input type="text" name=form_message>
  </div>

  <input type="submit" value="Submit Message!">

</form> -->

<%= form_tag "/form_send_params", method: :post do %> 
  <div>
    Enter Message: <input type="text" name="form_message">
  </div>

  <input type="submit" value="Submit Message!">
<% end %>